---
import '@fontsource/dejavu-sans/400.css';
import '@fontsource/dejavu-sans/700.css';
import { fade, ViewTransitions } from 'astro:transitions'


import { SITE_NAME, DESCRIPTION } from '../../src/config'

interface Props {
	title: string;
}

// @ts-ignore
const { frontmatter } = Astro.props

const isHome = Astro.url.pathname === '/'

const pageTitle = [
	frontmatter.title ? frontmatter.title : undefined,
	isHome ? SITE_NAME : undefined,
].filter(Boolean).join(' | ')

---

<!doctype html>
<html 
	lang="en"
	transition:animate={fade({ duration: '1s' })}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ DESCRIPTION } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>

		<ViewTransitions />
	</head>
	<body class={`text-gray-500 dark:text-gray-100 ${ isHome ? 'is-home' : '' }`}></body>
		<div class="max-w-5xl mx-auto space-y-4 py-16 px-14">
			<main class="max-w-xl home">
				<slot />
			</main>
			<!-- { !isHome && (
					<a href="/polygon/">home</a>
				)} -->
			<footer>
				{ !isHome && (
					<a href="/polygon/">home</a>
				)}
			</footer>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html{
		margin: 0;
		padding: 0;
	}
	body {
		font-family: 'DejaVu Sans', sans-serif;
		font-size: 12px;
		line-height: 1.2rem;
		background: #6247AA;
		background-size: 224px;
		color: #E2CFEA;
	}

	body:not(.is-home) a {
		text-decoration: none;
	}

	a{
		margin-bottom: .9em;
		&:hover{
			color: #fff;
		}
	}
	/* Light mode */
	@media (prefers-color-scheme: light) {
		html {
			background: #E2CFEA;
		}
	}

	/* We want to bump up the font size on touch screens so that tap targets are easier to hit */
	@media (hover: none) {
		html {
			font-size: 18px;
		}

		/* Pad links that are the only child of a paragraph */
		p > a:only-child {
			padding: 0.5rem 0;
			display: inline-block;
		}
	}
	code {
		font-family:monospace;
	}

	p,h1,h2,h3,h4,h5,h6{
		margin-bottom: .955rem;
	}
	ul, li{
		margin-bottom: .455rem;
	}
	h1 {
		font-size: 1.4rem;
		font-style: italic;
		font-weight: 500;
		margin-bottom: 0.8rem;
	}

	h2{
		font-size: 1.3rem;
	}

	h3{
		font-size: 1.2rem;
	}

	h4{
		font-size: 1.1rem;
	}
</style>
